<%= form_with(model: product_claim, local: true, html: { multipart: true }) do |form| %>
  <% if product_claim.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product_claim.errors.count, "error") %> prohibited this product_claim from being saved:</h2>

      <ul>
      <% product_claim.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <thead>
      <tr>
        <th> <%= form.label :supermarket %> </th>
        <th> <%= form.label :category %> </th>
        <th> <%= form.label :brand %> </th>
        <th> <%= form.label :description %> </th>
        <th> <%= form.label :expiration_date %> </th>
        <th> <%= form.label :price, 'Price per Lb' %> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <%= form.select :supermarket, @supermarket, {}, {:value => params[:supermarket], id: :product_claim_supermarket} %> </td>
        <td> <%= form.select :category, @category, {}, {:value => params[:category], id: :product_claim_category} %> </td>
        <td> <%= form.text_field :brand, size: 10, id: :product_claim_brand %> </td>
        <td> <%= form.text_field :description, id: :product_claim_description %> </td>
        <td> <%= form.date_field :expiration_date, id: :product_claim_expiration_date %> </td>
        <td> <%= form.number_field :price, id: :product_claim_price, :step => 0.01 %> </td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th> <%= form.label :abf, 'ABF' %> </th>
        <th> <%= form.label :organic %> </th>
        <th> <%= form.label :grassfed, 'Free range' %> </th>
        <th> <%= form.label :never %> </th>
        <th> <%= form.label :humane %> </th>
        <th> <%= form.label :promo %> </th>
        <th> <%= form.label :image %> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <%= form.check_box :abf, id: :product_claim_abf %> </td>
        <td> <%= form.check_box :organic, id: :product_claim_organic %> </td>
        <td> <%= form.check_box :grassfed, id: :product_claim_grassfed %> </td>
        <td> <%= form.check_box :never, id: :product_claim_never %> </td>
        <td> <%= form.check_box :humane, id: :product_claim_humane %> </td>
        <td> <%= form.check_box :promo, id: :product_claim_promo %> </td>
        <td> <%= form.file_field :image, id: :product_claim_image %> </td>
      </tr>
    </tbody>
  </table>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
