<p id="notice"><%= notice %></p>

    <strong>Supermarket:</strong>
    <%= @product_claim.supermarket %>&emsp;
    <strong>Category:</strong>
    <%= @product_claim.category %>&emsp;
    <strong>Brand:</strong>
    <%= @product_claim.brand %>&emsp;
    <strong>Description:</strong>
    <%= @product_claim.description %>&emsp;
    <strong>Expiration date:</strong>
    <%= display_date(@product_claim.expiration_date) %>
    <br>
    <strong>ABF?:</strong>
    <%= human_boolean( @product_claim.abf) %>&emsp;
    <strong>Organic?:</strong>
    <%= human_boolean( @product_claim.organic) %>&emsp;
    <strong>Free range?:</strong>
    <%= human_boolean( @product_claim.grassfed) %>&emsp;
    <strong>Never ever?:</strong>
    <%= human_boolean( @product_claim.never) %>&emsp;
    <strong>Humane?:</strong>
    <%= human_boolean( @product_claim.humane) %>&emsp;
    <strong>Promotion?:</strong>
    <%= human_boolean( @product_claim.promo) %>&emsp;
    <strong>Image:</strong>
    <% if @product_claim.image.url %>
      <%= image_tag(@product_claim.image.url, size: "300x200") %>
    <% end %>

</p>
